.sep{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.sep > a{
    margin: 0 256px;
}

footer{
    background-color: rgb(43, 43, 119);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}